target/
.DS_Store
._.DS_Store*
.metadata
.project
.classpath
.settings
.history
gen
**/target
project/*.ipr
project/*.iml
project/*.iws
project/out
project/*/target
project/target
project/*/bin
project/*/build
project/*.iml
project/*/*.iml
project/.idea
project/.idea/*
project/.DS_Store
project/*/.DS_Store
